DEEPSEEK_API_KEY=
BACKEND_URL=http://backend:8080/api/v1/crawler
BACKEND_URL_FOR_FETCHING = http://backend:8080/api/v1

THUNDER_BASE_URL=https://thunder:8090
THUNDER_CLIENT_ID=wHoZsmN2rZYHwBA8zNVerw

#Generate client secret and add it here
THUNDER_CLIENT_SECRET=
THUNDER_RESOURCE=https://tvec.gov.lk

#dev only
THUNDER_INSECURE_TLS=true